# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
venv/
.venv/
myenv/
.myenv/

# DVC
.dvc/cache
.dvc/tmp

# Data - Never commit raw or processed data to Git
processed_data/
/data
gcp-key.json
.ipynb_checkpoints
scripts/.ipynb_checkpoints/
